body {
  font-family: var(--font-default), sans-serif;
  line-height: 1.7;
  font-weight: 400;
  color: var(--color-grey-dark-3);
}

p {
  color: var(--color-grey-dark-3);
  font-size: var(--default-font-size);
  font-size: 1.4rem;
}

.label {
  color: var(--color-grey-dark-3);
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.link {
  color: var(--color-grey-dark-3);
  font-weight: 400;
  font-size: 1.4rem;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.2;
}

.link:hover {
  border-bottom: 1px solid var(--color-grey-dark-3);
}
