:root {
  --color-primary: #ffd581;
  --color-primary-dark: #d3b06a;

  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;

  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;

  --color-white: #fff;
  --color-black: #000;

  --font-default: "Open Sans";
  /* --font-heading: "Libre Baskerville"; */

  --default-font-size: 1.6rem;

  --padding-top-sm: 3rem;
  --padding-top-md: 9rem;
  --padding-top-lg: 15rem;
  --padding-top-xl: 30rem;

  --padding-bottom-sm: 3rem;
  --padding-bottom-md: 9rem;
  --padding-bottom-lg: 15rem;
  --padding-bottom-xl: 30rem;
}
