.products-filter-bar {
  display: flex;
}

.products-filter-bar button {
  background-color: transparent;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  outline: none;
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
}

.products-filter-bar button:hover {
  border-bottom: 2px solid var(--color-grey-dark-3);
}
